<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.com.intracity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome" />
        <activity android:name=".Student_login" />
        <activity android:name=".Student_home" />
        <activity android:name=".Teacher_login" />
        <activity android:name=".Teacher_home" />
        <activity android:name=".Register" />
        <activity android:name=".Classroom_1" />
        <activity android:name=".Classroom_2" />
        <activity android:name=".Classroom_3" />
        <activity android:name=".Classroom_4" />
        <activity android:name=".Classroom_5" />
        <activity android:name=".Final_marks" />
        <activity android:name=".Marks" />
        <activity android:name=".Course_material"></activity>
    </application>

</manifest>